

.tooltip-space{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    pointer-events: none;
}
.tooltip-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.tooltip-wrapper{
    position: absolute;
    display: inline-block;
    margin: 10px;
    top: 0px;
    left: 0px;
}
.tooltip{
    color: white;
    background-color: #9b9b9b;
    padding: 4px 8px;
    opacity: 1;
}




.tooltip-top::before{
    content: "";
    border-width: 6px 6px 0px 6px;
    border-style: solid;
    border-color: #9b9b9b transparent transparent transparent;
    position: absolute;
    bottom: -6px;
    left: 50%;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* 
.tooltip-bottom::before{
    content: "";
    border-width: 0px 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #9b9b9b transparent;
    position: absolute;
    top: -6px;
    left: 50%;
    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-right::before{
    content: "";
    border-width: 6px 6px 6px 0px;
    border-style: solid;
    border-color: transparent #9b9b9b transparent transparent;
    position: absolute;
    left: -6px;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tooltip-left::before{
    content: "";
    border-width: 6px 0px 6px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #9b9b9b;
    position: absolute;
    right: -6px;
    top: 50%;
    
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */